DEBUG = true
SECRET_KEY = "Clé secrète très secrète"
DATABASE_NAME = "hyphae"
DATABASE_USER = "root"
DATABASE_PASSWORD = "123456"
TEST_DATABASE_NAME = "hyphaedev"
ALLOWED_HOSTS = [".hyphae.net", "hyphae.net"]
