{% extends 'base.html' %}
{% load widget_tweaks %}

{% load forms %}

{% block content %}
    <div class="container">
        <h1>Modify</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group mb-5">
                <div class="non-field-errors">
                    {{ form.non_field_errors }}
                </div>

                <div class="hidden-fields-errors">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                </div>

                {% if form_class == 'BaseLiteratureCreateUpdateForm' %}
                    {% include 'hyphaeLibrary/literature/forms/base.html' %}
                {% elif form_class == 'PublicationCreateUpdateForm' %}
                    {% include 'hyphaeLibrary/literature/forms/article.html' %}
                {% elif form_class == 'ThesisCreateUpdateForm' %}
                    {% include 'hyphaeLibrary/literature/forms/thesis.html' %}
                {% elif form_class == 'BookCreateUpdateForm' %}
                    {% include 'hyphaeLibrary/literature/forms/book.html' %}
                {% endif %}
            </fieldset>

            <fieldset class="form-group mb-5">
                <div class="row">
                    <label for="changeTypeSelect">Change publication type:</label>
                </div>
                <div class="row">
                    <div class="col">
                        <select id="changeTypeSelect" name="changeTypeSelect" class="form-control">
                            <option value="Literature" {% if form_class == 'BaseLiteratureCreateUpdateForm' %}selected{% endif %}>Base</option>
                            <option value="Publication" {% if form_class == 'PublicationCreateUpdateForm' %}selected{% endif %}>Publication</option>
                            <option value="Thesis" {% if form_class == 'ThesisCreateUpdateForm' %}selected{% endif %}>Thesis</option>
                            <option value="Book" {% if form_class == 'BookCreateUpdateForm' %}selected{% endif %}>Book</option>
                        </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-warning" type="submit" value="change_type" name="changeTypeSub" id="changeTypeSub">Change</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger w-25" value="delete" name="deleteSub" id="deleteSub">Delete</button>
                    <button type="submit" class="btn btn-primary w-25" value="update" name="updateSub" id="updateSub">Update</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}